body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --Blue: #006aff;
  --Secondary: #a5b4cb;
  --Dark: #141737;
  --Grey: #7d8da7;
}
.container {
  display: flex;
  min-height: 100vh;
  max-height: 100%;
  overflow: auto;
}

.onboard-image-card {
  background-color: #f3e8c9;
  width: 700px;
  justify-content: flex-start;
}
.onboard-form-card {
  margin: 35px 60px;
  width: 100%;
}

.btn {
  border-radius: 8px;
  padding: 10px 20px;
  border: 0;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}
button {
  cursor: pointer;
}

.btn-logout {
  background-color: rgba(255, 103, 116, 1);
  text-align: right;
}
.btn-logout-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.step-visual-container {
  display: flex;
  justify-content: start;
}
.step-visual__line::after {
  content: '';
  height: 0;
  width: 100%;
  background-color: #e9eef4;
  border: 1px solid #e9eef4;
  margin-top: 20px;
  display: block;
}
.step-card {
  margin-right: 40px;
  display: flex;
  align-items: center;
}
.step-process__text {
  text-align: start;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
}

.step-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: flex-end;
  color: var(--Secondary);
}
.step-text.active {
  color: var(--Dark);
}

.step-number {
  height: 31px;
  width: 31px;
  background-color: #e4e9ef;
  color: var(--Secondary);
  font-style: normal;
  font-weight: 500;
  font-size: 13.64px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.step-number.active {
  background-color: var(--Blue);
  color: #ffffff;
}
.step-process__text {
  color: var(--Secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 8px;
}

.steps-form {
  margin: 30px 0px;
}

.step-process__header {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
  color: var(--Dark);
  margin: 0;
}
.step-process__sub-header {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: var(--Grey);
  margin: 0;
}

.select-verification__text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: var(--Dark);
}
.verification-method-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn__verification.active {
  background-color: #dceaff;
  border: 1px solid var(--Blue);
}
.btn__verification {
  background-color: #f5f6fa;
  box-sizing: border-box;
  border-radius: 10px;
  color: var(--Dark);
  border: 1px solid var(--Dark);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  margin-right: 10px;
}

label.form-control {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: var(--Dark);
}

select.form-control,
input.form-control {
  display: block;
  margin: 4px 0px;
  padding: 16px 17px;
  width: 100%;
  height: 54px;
  background: #ffffff;
  border: 1px solid #e4e9ef;
  border-radius: 12px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select.form-control {
  background: url('/src/images/arrow_drop_down.svg') no-repeat;
  background-position: right 10px top 50%;
}

input.form-control:focus-visible,
select.form-control:focus-visible {
  outline: var(--Blue) auto 1px;
}

.account-number-bank__card {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.account-number-bank__card > div {
  flex: 50%;
}
.account-number-bank__card :first-child {
  margin-right: 25px;
}

.why-bvn-card {
  padding: 10px 20px;
  margin-top: 15px;
  background: #e9eef4;
  border-radius: 5px;
}

.why-bvn-header {
  display: flex;
  justify-content: space-between;
}
.why-bvn-header__text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-left: 5px;
}
.why-bvn-header__show {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  text-align: right;
  color: #5257f5;
  margin-right: 2px;
}

.why-bvn-list {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  padding-left: 25px;
}
.why-bvn-list__ul {
  margin: 0;
  padding: 0;
}
.why-bvn-list__ul li {
  color: var(--Dark);
  list-style-image: url('/src/images/list_order.svg');
  padding: 0;
  margin-left: 15px;
}
.why-bvn-list__last-text {
  color: var(--Dark2);
}

.why-bvn-list__line::after {
  content: '';
  height: 1px;
  background-color: var(--Secondary);
  opacity: 0.3;
  width: 100%;
  display: block;
  margin-top: 10px;
}

.steps-form__line {
  content: '';
  height: 1px;
  background-color: var(--Secondary);
  opacity: 0.3;
  width: 100%;
  display: block;
  margin-top: 10px;
}

.steps-form__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.btn-continue {
  background-color: var(--Blue);
  flex: flex-end;
}

.insta-twitter-input__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.insta-twitter-input__card > div {
  width: 380px;
}
.social-handles-input {
  content: '@';
  background-position: right 10px top 50%;
}

.prepend-input-group {
  margin: 4px 0px;
  width: 380px;
  height: 54px;
  background: #ffffff;
  border: 1px solid #e4e9ef;
  border-radius: 12px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: flex;
  align-items: center;
}

.prepend-input__value {
  padding: 16px 10px;
  font-size: 12px;
  line-height: 22px;
  color: var(--Grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.prepend-input-group .form-control-prepend {
  display: flex;
  font-size: 12px;
  line-height: 22px;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: 0;
  width: 90%;
  height: 90%;
}
.prepend-input-group .form-control-prepend:focus-visible {
  outline: none;
}

.input-error__text {
  color: red;
  font-size: 12px;
}

.step-visual-mobile {
  display: none;
}

@media screen and (max-width: 1075px) {
  .onboard-image-card {
    width: 500px;
  }
}
@media screen and (max-width: 971px) {
  .onboard-image-card {
    display: none;
  }
}
@media screen and (max-width: 725px) {
  .step-visual-container {
    display: none;
  }
  .step-visual-mobile {
    display: block;
  }
  .account-number-bank__card {
    flex-direction: column;
    align-items: normal;
  }
  .account-number-bank__card :first-child {
    margin-right: 0px;
  }
  .onboard-form-card {
    margin: 15px;
    padding: 10px;
  }
  .insta-twitter-input__card {
    flex-direction: column;
    align-items: normal;
  }
  .insta-twitter-input__card > div {
    width: 380px;
  }
  .prepend-input-group {
    width: 100%;
  }
}

@media screen and (max-width: 355px) {
  .onboard-form-card {
    margin: 5px;
    padding: 5px;
  }
}
