body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  height: 100vh;
}

.onboard-image-card {
  background-color: #f3e8c9;
  width: 480px;
  justify-content: flex-start;
}
.onboard-form-card {
  margin-top: 35px;
  margin-right: 60px;
  margin-left: 60px;
}

.btn {
  padding: 0.5rem 0.8rem;
  border: transparent;
  border-radius: 9px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: white;
}

.btn-logout {
  background-color: rgba(255, 103, 116, 1);
  text-align: right;
}
.btn-logout-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.step-visual-container {
  display: flex;
  justify-content: start;
}

.step-card {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.step-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: flex-end;
  color: #a5b4cb;
}

.step-number {
  height: 31px;
  width: 31px;
  background-color: #a5b4cb;
  color: #a5b4cb;
  font-style: normal;
  font-weight: 500;
  font-size: 13.64px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

/* .form-container {
} */
