body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  height: 100vh;
}

.onboard-image-card {
  background-color: #f3e8c9;
  width: 480px;
  justify-content: flex-start;
}
.onboard-form-card {
  margin-top: 35px;
}

.btn {
  padding: 20px;
}

.btn-logout {
  background-color: rgba(255, 103, 116, 1);
  margin-bottom: 166px;
}

/* .form-container {
} */
